.main-content{
    margin: 30px 50px 30px 50px;
}
.main-content .todo-list-content ul{
    margin: 0;
    padding: 0;
}
.main-content .todo-list-content ul div{
    display: flex;
    padding: 10px;
    border: 1px solid #b1b1b1;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}
.main-content .todo-list-content ul div:hover{
    background-color: #ededed;
    font-weight: 450;
}
.main-content .todo-list-content ul div input{
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
}
.main-content .todo-list-content .id-style{
    color: #0B0F3D;
    font-weight: 600;
}
.main-content .header-content {
    text-align: center; 
    font-size: 25px;
    margin-bottom: 20px;
}
.main-content .header-content .short-content label{
    padding-right: 10px;
}
.main-content .header-content .short-content{
    font-size: 20px;
}
.main-content .header-content .short-content select{
    font-size: 20px;
    width: 150px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}
.main-content .header-content .short-content select option{
    font-size: 20px;
}

@media (max-width: 500px) {
    .main-content {
        margin: 10px 20px 10px 20px;
    }
}